@import '@styles/main.module.scss';
.container{
    // height: 130px;
    background-color: $primary_color;
    margin-top: -75px;
    z-index: 1;
    padding: 20px 55px;
    @include flex_box_custum(space-between,center,0px);
}
.containerCard{
    @include flex_box_custum(center,center,18px);
    width: 280px;
    height: 104px;

}
.content{
    @include flex_box_custum(center,flex-start,8px);
    flex-direction: column;
    color: $white_color;
}