@import "@styles/mixins.module.scss";
@import "@styles/variables.module.scss";

.container {
  @include flex_box_custum(center, center, 0px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.fixedHeader {
  top: -83px;
  position: fixed;
  z-index: 999;
  background: #ffffffe6;
  transform: translateY(83px);
  transition: transform 0.3s ease;
}
.containerHeader {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.BoxIcons {
  @include radius_common(50%);
  @include flex_box_custum(center, center, 0px);
  height: 26px;
  width: 26px;
  background-color: $primary_color;
  position: relative;
  .quacity {
    position: absolute;
    margin-top: -26px;
    right: -5px;
    color: rgb(255, 255, 255);
    font-size: 8px;
    font-weight: 500;
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    @include flex_box_custum(center, center, 0px);
  }
}
.containerBox {
  @include flex_box_custum(center, center, 20px);
  :hover {
    cursor: pointer;
  }
}
.flexBoxIcons {
  @include flex_box_custum(center, center, 10px);
}
.flexMenu {
  @include flex_box_custum(center, center, 40px);
}
.menuContent {
  cursor: pointer;
  padding-top: 8px;
  font-size: 20px;
  color: $primary_color;
  position: relative;
  .subMenu {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    top: 40px;
  }
}
.menuContent::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: scale(0);
  transition: transform 300ms, opacity 500ms;
  transform-origin: right;
  opacity: 0;
  margin-top: 5px;
}
.menuContent:hover::after {
  transform: scale(1);
  opacity: 1;
}
